body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#root {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.App {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.Guide {
    flex: 2;
    display: flex;
    flex-direction: column;
    // background-color: aqua;
    align-items: center;
    justify-content: center;
}

.RecordingSetup {
    flex: 1;
    display: flex;
    flex-direction: column;
    // background-color: antiquewhite;
    gap: 1rem;
    padding: 5rem;
}

.DiscardRecording {
    padding: 2rem;
    background-color: antiquewhite;
    border: 3px solid #e53935;
}
